
<html>
<head>View Blog</head>
<style>
    h1 {
        text-align: center;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
<body>
<table>
<tr>
{% for list_item in list_items %}
<h1 >{{ list_item.title1 }}</h1></br>
<p align="center" >{{ list_item.content }}</p></br>
<img src="{{ list_item.imageURL }}" height="400px" width="300px" alt=""></br>
{% endfor %}
</tr>
</table>

</body>
</html>




<a href ="user_logout" >logout</a>
